<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.3.8522.0">
	<errorPages mode="Disabled">
		<errorTypes>
			<add pageName="/errores/404" redirectToErrorPage="True" httpStatusCode="404" config:flags="1" />
			<add pageName="/errores/403" redirectToErrorPage="True" httpStatusCode="403" />
			<add pageName="/errores/500" redirectToErrorPage="True" httpStatusCode="500" />
		</errorTypes>
	</errorPages>
</pagesConfig>